In [1]:
import csv_to_df as c2d
import pandas as pd

In [2]:
df = c2d.create_dataframe('https://data.seattle.gov/api/views/tw7j-dfaw/rows.csv?accessType=DOWNLOAD')

In [ ]:
columns = df.columns.tolist()
df1 = df.iloc[:,[4,11]]
columns1 = df1.columns.tolist()
df2 = df.iloc[:5]
columns2 = df2.columns.tolist()

In [ ]:
# check function test_create_dataframe for a known 'True' case
c2d.test_create_datadrame(df1,columns1)

In [ ]:
# check test_create_dataframe for a known 'False' case. Column names listed in columns1 are not found in df 
c2d.test_create_datadrame(df,columns1)

In [ ]:
# check test_create_dataframe for another known 'False' case. Data types of the slice of df ...
# containing the first five columns are not all the same
c2d.test_create_datadrame(df2,columns2)

In [ ]:
column = df.columns.tolist()[1]
column

In [ ]:
i =5
print('NAN located in %s on line %d' %(column, i))

In [3]:
import numpy as np
a = np.nan

In [ ]:
a = 5
a != a

In [4]:
import math

In [5]:
for column in df.columns.tolist():
        for i in range(len(df[column])):
            if df[column][i]!=df[column][i]:
                raise ValueError('NAN located in %s on line %d' %(column, i))
            else:
                continue

ValueError: NAN located in gender on line 69

In [11]:
datatype = type(df[column][0])
i = 99
if datatype == type(df[column][i]):
    print('yay')
else: 
    print('nay')

yay

In [9]:
column

'trip_id'

In [12]:
for column in df.columns.tolist():
    # find type of first entry
    datatype = type(df[column][0])
    # loop through rows to check if the types match that of the first rows
    for i in range(len(df[column])):
        if datatype == type(df[column][i]):
            continue
        else: 
            raise TypeError('data types in %s do not match' %column)

TypeError: values in gender do not match